{% extends "registration/base.html" %}

{% block title %}Account{% endblock %}

{% block content %}
<main>
    <div>
        <h1>Login</h1>
        <form method="POST">
            {{ login_form.as_p }}
            {% csrf_token %}
            <p>
                <button type="submit">Login</button>
            </p>
        </form>
    </div>
</main>
{% endblock%}