{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static " css/projects.css" %}" rel="stylesheet">
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>