{% extends "projects/base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<main>
    <div>
        <h1>My Projects</h1>
        {% if not projects %}
        <p>You are not assigned to any projects</p>
        {% else %}
        <table>
            <tr>
                <th>Name</th>
                <th>Number of tasks</th>
            </tr>
            {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</main>
{% endblock%}